.wd-bg-color-black {
  background-color: black;
}

.wd-bg-color-darkgrey {
  margin-left: 16px;
  background-color: darkgray;
}

.wd-fg-color-white {
  color: white;
}

.wd-fg-color-darkgrey {
  color: DarkGray;
}

.wd-body {
  margin-left: 16px;
  border: rgb(47, 51, 54) 1px solid;
}

.wd-part-A-B {
  border: rgb(47, 51, 54) 1px solid;
  padding: 16px 16px 0 0px;
}

.wd-part-A {
  clear: both;
  display: flex;
}

.wd-part-A-left {
  width: 91%;
}

.wd-part-A-right {
  width: 9%;
}

.wd-search-bar {
  border-radius: 50px;
  background-color: rgb(47, 51, 54);
  padding: 5px;
  width: 90%;
}

input::placeholder {
  color: darkgray;
  position: relative;
  left: 50px;
}

.wd-search-icon {
  width: 25px;
  height: 25px;
  margin: 3px 0 0 26px;
  position: absolute;
}

.wd-gear-bottom {
  border: none;
  float: right;
  background-color: black;
}
.wd-gear-icon {
  width: 20px;
  height: 20px;
}

.wd-part-B {
  color: darkgray;
  padding: 16px 0 0 16px;
  display: flex;
  justify-content: space-between;
}

.wd-part-B-highligh {
  color: rgb(29, 161, 242);
  border-bottom: 2px solid;
  padding-bottom: 16px;
}

.wd-part-B-item {
  margin: 0 32px 0 0;
}

.wd-space {
  padding: 3px;

  border: rgb(47, 51, 54) solid;
}

.wd-part-C {
  border-left: rgb(47, 51, 54) solid;
  border-right: rgb(47, 51, 54) solid;
  border-bottom: rgb(47, 51, 54) solid;
}

.wd-part-C-1 {
  margin-left: 16px;
  color: rgb(110, 118, 125);
  font-size: 13px;
}

.wd-part-C-dot-1 {
  color: white;
  text-align: end;
  margin-right: 16px;
  font-size: 13px;
}

.wd-part-C-dot-2 {
  color: rgb(110, 118, 125);
  float: right;
  margin-right: 16px;
  font-size: 13px;
}

.wd-part-C-2 {
  color: white;
  font-size: 15px;
  margin-left: 16px;
}

.wd-part-C-3 {
  margin-left: 16px;
  margin-bottom: 16px;
  color: rgb(110, 118, 125);
  font-size: 13px;
}

.wd-part-D {
  border-right: rgb(47, 51, 54) solid;
  border-left: rgb(47, 51, 54) solid;
  border-bottom: rgb(47, 51, 54) solid;
  clear: both;

  border-style: solid;

  display: flex;
}

.wd-part-D-left {
  width: 93%;
  color: white;
  margin-top: 16px;
  margin-left: 16px;
  font-size: 13px;
}

.wd-part-D-left-1 {
  width: 13px;
  width: 13px;
  border-radius: 50%;
}

.wd-part-D-left-2 {
  color: white;
}

.wd-part-D-left-3 {
  width: 12px;
  width: 12px;
}

.wd-part-D-left-4 {
  color: rgb(110, 118, 125);
}

.wd-part-D-left-5 {
  margin-top: 6px;
  color: white;
  font-size: 15px;
}

.wd-part-D-right {
  width: 7%;
}

.wd-part-D-image {
  float: right;
  margin-right: 16px;
  margin-top: 6px;
  margin-bottom: 6px;
  width: 100px;
  height: 100px;
  border-radius: 12%;
}

.wd-part-E {
  border-right: rgb(47, 51, 54) solid;
  border-left: rgb(47, 51, 54) solid;
  border-bottom: rgb(47, 51, 54) solid;
  clear: both;

  border-style: solid;

  display: flex;
}

.wd-part-E-left {
  width: 93%;
  color: white;
  margin-top: 16px;
  margin-left: 16px;
  font-size: 13px;
}

.wd-part-E-right {
  width: 7%;
}

.wd-part-E-image {
  float: right;
  margin-right: 16px;
  margin-top: 6px;
  margin-bottom: 6px;
  width: 100px;
  height: 100px;
  border-radius: 12%;
}

.wd-part-E-left-2 {
  color: white;
  font-size: 15px;
}

.wd-part-E-left-1 {
  color: rgb(110, 118, 125);
  margin-bottom: 5px;
}
