.wd-bg-color-black {
  background-color: black;
}

.wd-bg-color-white {
  background-color: white;
}

.wd-fg-color-white {
  color: white;
}

./*wd-body {

  min-width: 600px;
}*/

.wd-head-body {
    border: rgb(47, 51, 54) solid;

}

.wd-head-content {
  border: rgb(47, 51, 54) solid;

}

.wd-head-title {
  margin-top: 12px;
  margin-left: 16px;
  margin-bottom: 3px;
  font-size: 20px;
  color: white;
}

.wd-head-handle {
  font-size: 13px;
  color: lightgrey;
  margin-bottom: 12px;
  margin-left: 16px;
}

.wd-three-dot-highlight {
  float: right;
  margin-right: 16px;
  color: rgb(29, 161, 242);
}

.wd-main {
  clear: both;
  border-style: solid;
  border: rgb(47, 51, 54) 1px solid;
  display: flex;

}

.wd-main-left {
  float: left
  width: 76px;
}

.wd-main-right {

  margin-top: 12px;

}

.wd-avatar-image {
  width: 48px;
  height: 48px;
  margin-left: 16px;
  margin-top: 12px;
  border-radius: 50%;
}

.wd-name-of-author {
  margin-left: 12px;
  font-size: 15px;
  color: white;
}

.wd-handle {
  font-size: 15px;
  color: darkgray;
}

.wd-main-content-box {
margin-left: 12px;


}



.wd-main-content {

  font-size: 15px;
  color: white;
  /*max-width: 500px;*/
}


.wd-three-dot-other {
overflow: hidden;
float: right;
margin-right: 16px;
  color: darkgray;
}

.wd-main-image-box {
  margin-right: 12px;
  margin-left: 12px;
  max-width: 504px;
  border-radius: 25px 25px 25px 25px;
  border: rgb(47, 51, 54) 1px solid;
}

.wd-main-image {
  border-radius: 25px 25px 0 0;
  width: 504px;
  height: 264px;
}

.wd-text-below-main-image {
  font-size: 15px;
  padding: 12px;
}

.wd-text-below-main-image-title {
  font-size: 15px;
  color: white;
}

.wd-text-below-main-image-content {
  font-size: 15px;
  color: darkgray;
}

.wd-link-icon-size {
  width: 12px;
  height: 12px;
}
.wd-link-icon {
  color: darkgray;
  font-size: 15px;
}

.wd-tail-icon-box {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 12px;
  color: darkgray;
}

.wd-tail-text-margin {
  margin-right: 100px;
}

.wd-tail-text-icon {
  margin-right: 12px;
}

.wd-tail-text-number {
  margin-right: 68px;
}

.wd-share-icon {
  border-radius: 20px 20px 20px 20px;
}
